
  
  .welcome-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .avatar {
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 20px;
  }
  
  .dashboard-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .option {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 45%;
    margin-bottom: 20px;
  }
  
  .option h2 {
    margin-bottom: 10px;
    font-family: 'Lateef', cursive; /* Changed font to Lateef */
    font-size: 30px;
  }
  
  .option a {
    color: #007bff;
    text-decoration: none;
  }
  
  .option a:hover {
    text-decoration: underline;
  }
